body{
    /* background-color: black; */
    background-image:radial-gradient(#022B2F, black);
}

#chipMain{
    
    width: 20rem; 
    height: 20rem; 
    background-color: transparent;
    color: transparent;

    border-style: double;
    border-width: 1rem;
    border-radius: 5rem;
    animation: show 1000ms ease forwards;
    animation-delay: 2s;
}

.socket{
    fill: transparent;
    animation: show 500ms linear forwards;
    animation-delay: 1.6s;
}

.absoluteCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

svg{
    width:100%;
    height: 100%;
    z-index:-10;
}

svg .draw{
    stroke: aqua;
    stroke-width: 3px;
    fill: transparent;
    /* animation: animate 2s ease infinite; */
    animation: animate 2s ease-out forwards;
    /* -moz-animation: animate 2s ease 1; */
    /* -webkit-animation: animate 2s ease 1; */

}

#myCanvas{
    width: 100%;
    height: 100%;
}

@keyframes animate{
    to{stroke-dashoffset: 0;}
}

@-webkit-keyframes animate{
    to{stroke-dashoffset: 0;}
}
@-moz-keyframes animate{
    to{stroke-dashoffset: 0;}
}

@keyframes show{
    0% {
        color: transparent;
        stroke: transparent;
    }
    100% {
        color: aqua;
        stroke:aqua;
    }
}